extends layout

block content
  main(role='main')
    div(class='jumbotron')
      div(class='container')
        h1(class='display-3') Hello World！
        p 建筑信息模型涵盖了几何学、空间关系、地理信息系统、各种建筑组件的性质及数量（例如供应商的详细信息）。建筑信息模型可以用来展示整个建筑生命周期，包括了兴建过程及营运过程。提取建筑内材料的信息十分方便。建筑内各个部分、各个系统都可以呈现出来。建筑信息模型用数字化的建筑组件表示真实世界中用来建造建筑物的构件。对于传统电脑辅助设计用向量图形构图来表示物体的设计方法来说是个基本的改变，因为它能够结合众多图则来展示对象。