extends layout

block content
  main(role='main')
    div(class='jumbotron')
      div(class='container')
        h1(class='display-3' style="font-weight:100") CBIMS知识库
        p CBIMS知识库是支撑各项工程领域标准化应用的工具。通过知识库中的概念、属性、关系、规则，可以规范化建立模型、分析模型、检查建模，从而保证模型的可信性。CBIMS知识库是国家层面、面向多工程领域的知识库，CBIMS知识库的建立，主要基于《面向工程领域的共享信息模型》系列国家标准。

    div(class='container')
      div(class='row')
        div(class='col-md-8 offset-2')
          form(class = 'input-group' action='/search/result' method='post')
            input(type = 'text' class='form-control' placeholder='输入名称' aria-label='搜索构件' id='otlname' name='name_field')
            span(class='input-group-btn')
              button(class='btn btn-info' type='submit') 搜索内容
      div(class='row pt-5')
        div(class='col-md-3')
          h2 数据模型
          p 数据模型是各个工程领域的开源数据标准，是软件所应共同实现、解析、导出的部分。
          br
          p
            a(class='btn btn-primary' href='/allscope/IFCROAD-IfcRoot' role='button') 查看详细
        div(class='col-md-3')
          h2 交付标准
          p 交付标准是指对特定交换场景下，对信息模型内容、取值的要求以及限定，交付标准引用数据模型与分类编码。
          p
            a(class='btn btn-primary' href='/mvd' role='button') 查看详细
        div(class='col-md-3')
          h2 分类编码
          p 对各个领域相关的数据字典，包括概念、属性、关系，以及各个工程领域的信息分类编码与规范术语的互相映射。
          p
            a(class='btn btn-primary' href='/allscope/GL-18.00.00.00.00' role='button') 查看详细
        div(class='col-md-3')
          h2 业务规范
          p 业务规范是各个工程领域中，针对特定业务对信息模型的约束。
          br
          br
          p
            a(class='btn btn-primary' href='/rules/road/3.0.1' role='button') 查看详细
      hr
  footer(class="container")
    p(class='text-center') THU BIM CHECKER GROUP 2017
    p(class='text-center') 京ICP备17070731号